#cloud-config

hostname: {{ vm_name }}
ssh_pwauth: false
users:
- name: serveruser
  ssh-authorized-keys:
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMawSuNLgXIBWfN5w4/3Y8khpjcxJeh3hX5yXNYgw39e neanom@LAPTOP-8OVMU9JP
  sudo: ['ALL=(ALL) NOPASSWD:ALL']
  shell: /bin/bash

# Send a TCP SYN packet to the VM host to populate its ARP table
# and add a cron job to do this every minute.
runcmd:
- nc -z -w 5 10.100.0.10 22 || true
- echo "* * * * * /usr/local/bin/keep-arp.sh" | crontab -
- systemctl restart cron || systemctl restart crond || true

write_files:
- path: /usr/local/bin/keep-arp.sh
  permissions: '0755'
  content: |
    #!/bin/bash
    nc -z -w 5 10.100.0.10 22 || true
